<div class="login-page">
    <div class="form">
        <form class="login-form acrylic">
            <span class="Login_header">Login your account</span>
            <input type="text" placeholder="Email" />
            <input type="password" placeholder="Password" />
            <button id="SignIn">Login</button>
            <p class="message"><a href="/Register_Page">Create Account</p>
        </form>
        <span class="forget_info"> <a href="/#"> if you forget password</a></span>
    </div>
</div>