<div class="main-section" id="main_index">
  <span class="login-cover">
    <a href="/Login_Page">
      <img id="login-button" class="loginbtn" src="img/login-icon.png">
      <div class="pulse">
          <span></span>
      </div>
    </a>
  </span>
  <div class="content-banner">
    <img class="banner-img" src="img/image.png" alt="">
    <center>
      <h1 class="index-headline">About the page !</h1>
    </center>
    <div class="paragraph"> 
      <p>This Website has created to in fact our Business purpose but not only that, except that Education, tips of develovers about the web Technology and Personal advice to Webpage User how to product and protect your websites. ect...</p>
      <p>This Website has created in MEAN stack development refers to the development process that falls within these particular set of technologies MongoDB, Expressjs, AngularJs, NodeJS. There are  two main advantages of MEAN stack are its scalability and the fact that it uses JavaScript only. ect...</p>
      <p>If you like to Create your Business or Personal own website, first you Register our website and contact with us. your personal data have keeping it protect in our Dataserver MYSQL. Thier Database rule according to the EUSG -2019.</p>
      <p>We have some Social Medias. There are over in slide  Link to connect our social medias. you can contact with our social medias and you can see out latest designs and Technology and in the footer have been for that source code in  codeEditor site. ect...</p>
      <p>In our Self about me, I have already studied in a private institute in sri lanka and i have been college and Training (Ausbildung) 3 years as a Web Developer in KPS GmbH in köln Deutschland. otherwise in personaly Computer hardware  in my personal carering. ect...</p>
      <p>Thirukkural "Inmitten der Welt und verführen Vaiyatu nanrikkan bleiben niedrig":Wenn eine Person, die das moralische Leben der Gerechtigkeit führt, in Armut gerät, werden die Hohen nicht als Armut betrachtet.</p>
    </div>
  </div>  
</div>
{{!-- Home page Footer --}}
 <footer>
        {{>footer}}
    </footer>

    