<div class="product_container">
    {{!-- Html Details  --}}
    <div class="html_section lang_sec">
        <div class="img_covr_container"></div>
             <span class="html_img content_img content_img_1">
                <img  class= "html_pic image_lang"src="img/html-8.jfif" alt="Html images"> 
            </span>
        <span class="html_details contentt_details">
            <center class="center_title">
                <h1 class="pro_html_h language_title">
                HTML
                </h1>
            </center>
            <p class="html_txt explain_txt">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam necessitatibus quis hic voluptatum, cum impedit harum corrupti odio molestiae atque voluptate illum mollitia repellendus saepe? Natus explicabo quisquam eligendi rem.
                Commodi voluptas saepe eaque quasi! Quos animi nisi eos. Similique porro, aliquid dolorum corporis magnam debitis recusandae totam accusamus assumenda! Debitis nesciunt optio sed necessitatibus nostrum soluta sapiente eius unde.
                Ex incidunt eos necessitatibus maiores in blanditiis ratione, nobis ad porro rem excepturi temporibus voluptatum, qui perspiciatis eveniet. Officia dicta molestiae animi aperiam quis illo ipsa, voluptatem reiciendis consequatur nisi?
                <br>
                <br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo magni ipsam inventore, dolorum expedita excepturi exercitationem. Quia commodi vitae, velit perspiciatis, quo animi officia cum illum quam neque nam ut?
                Sint ad officiis velit minus dolorum, laborum optio quia iure sunt molestias autem obcaecati est incidunt at odit modi eius. Accusamus aut adipisci illum rem sed cum quis id magnam?
                Aspernatur, consequatur! Praesentium nostrum, consectetur sit blanditiis cumque dignissimos error ut. Necessitatibus deserunt delectus perferendis incidunt hic, in quo dolor quae velit aliquam dolorem repudiandae tempore quam consectetur amet reprehenderit!
            </p>
        </span>
    </div>
    {{!-- Javascript Details  --}}
    <div class="javascript_section lang_sec">
        <div class="img_covr_container"></div>
        <span class="javascript_img content_img content_img_2">
            <img  class= "javascript_pic image_lang"src="img/java-1.png" alt="javascript images">
        </span>
        <span class="javascript_details contentt_details">
            <center class="center_title">
                <h1 class="pro_jav_h language_title">
                    Java Script
                </h1>
            </center>
            <p class="javascript_txt explain_txt">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam necessitatibus quis hic voluptatum, cum impedit harum corrupti odio molestiae atque voluptate illum mollitia repellendus saepe? Natus explicabo quisquam eligendi rem.
                Commodi voluptas saepe eaque quasi! Quos animi nisi eos. Similique porro, aliquid dolorum corporis magnam debitis recusandae totam accusamus assumenda! Debitis nesciunt optio sed necessitatibus nostrum soluta sapiente eius unde.
                Ex incidunt eos necessitatibus maiores in blanditiis ratione, nobis ad porro rem excepturi temporibus voluptatum, qui perspiciatis eveniet. Officia dicta molestiae animi aperiam quis illo ipsa, voluptatem reiciendis consequatur nisi?
                <br>
                <br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo magni ipsam inventore, dolorum expedita excepturi exercitationem. Quia commodi vitae, velit perspiciatis, quo animi officia cum illum quam neque nam ut?
                Sint ad officiis velit minus dolorum, laborum optio quia iure sunt molestias autem obcaecati est incidunt at odit modi eius. Accusamus aut adipisci illum rem sed cum quis id magnam?
                Aspernatur, consequatur! Praesentium nostrum, consectetur sit blanditiis cumque dignissimos error ut. Necessitatibus deserunt delectus perferendis incidunt hic, in quo dolor quae velit aliquam dolorem repudiandae tempore quam consectetur amet reprehenderit!
            </p>
        </span>
    </div>
    {{!-- Node --}}
    <div class="node_section lang_sec">
        <div class="img_covr_container"></div>
        <span class="node_img content_img content_img_1">
            <img  class= "node_pic image_lang"src="img/Node.png" alt="Html images">
        </span>
        <span class="node_details contentt_details">
            <center class="center_title">
                <h1 class="pro_nod_h language_title">
                    Node JS
                </h1>
            </center>
            <p class="node_txt explain_txt">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam necessitatibus quis hic voluptatum, cum impedit harum corrupti odio molestiae atque voluptate illum mollitia repellendus saepe? Natus explicabo quisquam eligendi rem.
                Commodi voluptas saepe eaque quasi! Quos animi nisi eos. Similique porro, aliquid dolorum corporis magnam debitis recusandae totam accusamus assumenda! Debitis nesciunt optio sed necessitatibus nostrum soluta sapiente eius unde.
                Ex incidunt eos necessitatibus maiores in blanditiis ratione, nobis ad porro rem excepturi temporibus voluptatum, qui perspiciatis eveniet. Officia dicta molestiae animi aperiam quis illo ipsa, voluptatem reiciendis consequatur nisi?
                <br>
                <br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo magni ipsam inventore, dolorum expedita excepturi exercitationem. Quia commodi vitae, velit perspiciatis, quo animi officia cum illum quam neque nam ut?
                Sint ad officiis velit minus dolorum, laborum optio quia iure sunt molestias autem obcaecati est incidunt at odit modi eius. Accusamus aut adipisci illum rem sed cum quis id magnam?
                Aspernatur, consequatur! Praesentium nostrum, consectetur sit blanditiis cumque dignissimos error ut. Necessitatibus deserunt delectus perferendis incidunt hic, in quo dolor quae velit aliquam dolorem repudiandae tempore quam consectetur amet reprehenderit!
            </p> 
        </span>
    </div>
    {{!-- Angular --}}
      <div class="angular_section lang_sec">
        <div class="img_covr_container"></div>
        <span class="angular_img content_img content_img_2">
            <img  class= "angular_pic image_lang"src="img/angular-1.png" alt="Html images">
        </span>
        <span class="angular_details contentt_details">
            <center class="center_title">
                <h1 class="pro_ang_h language_title">
                    Angular
                </h1>
            </center>
            <p class="angular_txt explain_txt">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam necessitatibus quis hic voluptatum, cum impedit harum corrupti odio molestiae atque voluptate illum mollitia repellendus saepe? Natus explicabo quisquam eligendi rem.
                Commodi voluptas saepe eaque quasi! Quos animi nisi eos. Similique porro, aliquid dolorum corporis magnam debitis recusandae totam accusamus assumenda! Debitis nesciunt optio sed necessitatibus nostrum soluta sapiente eius unde.
                Ex incidunt eos necessitatibus maiores in blanditiis ratione, nobis ad porro rem excepturi temporibus voluptatum, qui perspiciatis eveniet. Officia dicta molestiae animi aperiam quis illo ipsa, voluptatem reiciendis consequatur nisi?
                <br>
                <br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo magni ipsam inventore, dolorum expedita excepturi exercitationem. Quia commodi vitae, velit perspiciatis, quo animi officia cum illum quam neque nam ut?
                Sint ad officiis velit minus dolorum, laborum optio quia iure sunt molestias autem obcaecati est incidunt at odit modi eius. Accusamus aut adipisci illum rem sed cum quis id magnam?
                Aspernatur, consequatur! Praesentium nostrum, consectetur sit blanditiis cumque dignissimos error ut. Necessitatibus deserunt delectus perferendis incidunt hic, in quo dolor quae velit aliquam dolorem repudiandae tempore quam consectetur amet reprehenderit!
            </p>
        </span>
    </div>
    {{!-- REACT JS --}}
      <div class="react_section lang_sec">
        <div class="img_covr_container"></div>
        <span class="react_img content_img content_img_1">
            <img  class= "react_pic image_lang"src="img/react-1.png" alt="Html images">
        </span>
        <span class="react_details contentt_details">
            <center class="center_title">
                <h1 class="pro_rec_h language_title">
                    React JS
                </h1>
            </center>
            <p class="react_txt explain_txt">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam necessitatibus quis hic voluptatum, cum impedit harum corrupti odio molestiae atque voluptate illum mollitia repellendus saepe? Natus explicabo quisquam eligendi rem.
                Commodi voluptas saepe eaque quasi! Quos animi nisi eos. Similique porro, aliquid dolorum corporis magnam debitis recusandae totam accusamus assumenda! Debitis nesciunt optio sed necessitatibus nostrum soluta sapiente eius unde.
                Ex incidunt eos necessitatibus maiores in blanditiis ratione, nobis ad porro rem excepturi temporibus voluptatum, qui perspiciatis eveniet. Officia dicta molestiae animi aperiam quis illo ipsa, voluptatem reiciendis consequatur nisi?
                <br>
                <br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo magni ipsam inventore, dolorum expedita excepturi exercitationem. Quia commodi vitae, velit perspiciatis, quo animi officia cum illum quam neque nam ut?
                Sint ad officiis velit minus dolorum, laborum optio quia iure sunt molestias autem obcaecati est incidunt at odit modi eius. Accusamus aut adipisci illum rem sed cum quis id magnam?
                Aspernatur, consequatur! Praesentium nostrum, consectetur sit blanditiis cumque dignissimos error ut. Necessitatibus deserunt delectus perferendis incidunt hic, in quo dolor quae velit aliquam dolorem repudiandae tempore quam consectetur amet reprehenderit!
            </p>
        </span>
    </div>
    {{!-- SQL --}}
      <div class="react_section lang_sec">
        <div class="img_covr_container"></div>
        <span class="react_img content_img content_img_1">
            <img  class= "react_pic image_lang"src="img/sql-2.png" alt="Html images">
        </span>
        <span class="react_details contentt_details">
            <center class="center_title">
                <h1 class="pro_rec_h language_title">
                    SQL
                </h1>
            </center>
            <p class="react_txt explain_txt">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam necessitatibus quis hic voluptatum, cum impedit harum corrupti odio molestiae atque voluptate illum mollitia repellendus saepe? Natus explicabo quisquam eligendi rem.
                Commodi voluptas saepe eaque quasi! Quos animi nisi eos. Similique porro, aliquid dolorum corporis magnam debitis recusandae totam accusamus assumenda! Debitis nesciunt optio sed necessitatibus nostrum soluta sapiente eius unde.
                Ex incidunt eos necessitatibus maiores in blanditiis ratione, nobis ad porro rem excepturi temporibus voluptatum, qui perspiciatis eveniet. Officia dicta molestiae animi aperiam quis illo ipsa, voluptatem reiciendis consequatur nisi?
                <br>
                <br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo magni ipsam inventore, dolorum expedita excepturi exercitationem. Quia commodi vitae, velit perspiciatis, quo animi officia cum illum quam neque nam ut?
                Sint ad officiis velit minus dolorum, laborum optio quia iure sunt molestias autem obcaecati est incidunt at odit modi eius. Accusamus aut adipisci illum rem sed cum quis id magnam?
                Aspernatur, consequatur! Praesentium nostrum, consectetur sit blanditiis cumque dignissimos error ut. Necessitatibus deserunt delectus perferendis incidunt hic, in quo dolor quae velit aliquam dolorem repudiandae tempore quam consectetur amet reprehenderit!
            </p>
        </span>
    </div>
    {{!-- Mongo --}}
      <div class="react_section lang_sec">
        <div class="img_covr_container"></div>
        <span class="react_img content_img content_img_2">
            <img  class= "react_pic image_lang"src="img/mongo-2.png" alt="Html images">
        </span>
        <span class="react_details contentt_details">
            <center class="center_title">
                <h1 class="pro_rec_h language_title">
                    Mongo
                </h1>
            </center>
            <p class="react_txt explain_txt">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam necessitatibus quis hic voluptatum, cum impedit harum corrupti odio molestiae atque voluptate illum mollitia repellendus saepe? Natus explicabo quisquam eligendi rem.
                Commodi voluptas saepe eaque quasi! Quos animi nisi eos. Similique porro, aliquid dolorum corporis magnam debitis recusandae totam accusamus assumenda! Debitis nesciunt optio sed necessitatibus nostrum soluta sapiente eius unde.
                Ex incidunt eos necessitatibus maiores in blanditiis ratione, nobis ad porro rem excepturi temporibus voluptatum, qui perspiciatis eveniet. Officia dicta molestiae animi aperiam quis illo ipsa, voluptatem reiciendis consequatur nisi?
                <br>
                <br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo magni ipsam inventore, dolorum expedita excepturi exercitationem. Quia commodi vitae, velit perspiciatis, quo animi officia cum illum quam neque nam ut?
                Sint ad officiis velit minus dolorum, laborum optio quia iure sunt molestias autem obcaecati est incidunt at odit modi eius. Accusamus aut adipisci illum rem sed cum quis id magnam?
                Aspernatur, consequatur! Praesentium nostrum, consectetur sit blanditiis cumque dignissimos error ut. Necessitatibus deserunt delectus perferendis incidunt hic, in quo dolor quae velit aliquam dolorem repudiandae tempore quam consectetur amet reprehenderit!
            </p>
        </span>
    </div>
{{!-- Product_Footer --}}
    <footer>
        {{>footer}}
    </footer>

</div>