<div class="service_container">
    <section class="web_prog serv_sec">
        <center><h1 class="ser_h1">Web Siete Programmierung</h1></center>

    </section>
    <section class="web_design serv_sec">
        <center><h1 class="ser_h1">Web Designing</h1></center>

    </section>
    <section class="app_prog serv_sec">
        <center><h1 class="ser_h1">App Programmierung</h1></center>

    </section>
    <section class="databank_managment serv_sec">
        <center><h1 class="ser_h1">Data Bank Management</h1></center>

    </section>
    <section class="tech_advice serv_sec">
        <center><h1 class="ser_h1">Technique Advices</h1></center>

    </section>
    {{>footer}}
</div>